---
import GenericCard from "../ui/GenericCard.astro";

// Import the icons as Astro components.
// Note the capitalized names (e.g., CakeIcon), which is a convention for components.
import CakeIcon from "../../assets/icons/cake-slice-svgrepo-com.svg";
import MapIcon from "../../assets/icons/map-extent-svgrepo-com.svg";
import BrainIcon from "../../assets/icons/brain-illustration-1-svgrepo-com.svg";
import LanguageIcon from "../../assets/icons/language-filled-svgrepo-com.svg";
---

<GenericCard>
  <div
    class="w-32 h-32 bg-[url(https://avatars.githubusercontent.com/u/35637672?v=4)] bg-cover bg-center"
  >
  </div>
  <h3 class="text-4xl">Kevin Arriaga</h3>
  <ul class="text-l">
    <li class="flex items-center gap-4 mb-2">
      <!-- Render the icon as a component, not an img tag -->
      <CakeIcon aria-label="Birthday icon" class="w-7 h-7 text-purple-500" /> 26
      years old
    </li>
    <li class="flex items-center gap-4 mb-2">
      <MapIcon aria-label="Map icon" class="w-7 h-7 text-purple-500" /> Lives in
      USA
    </li>
    <li class="flex items-center gap-4 mb-2">
      <BrainIcon aria-label="Brain icon" class="w-7 h-7 text-purple-500" /> 2 years
      of experience
    </li>
    <li class="flex items-center gap-4 mb-2">
      <LanguageIcon
        aria-label="Language icon"
        class="w-7 h-7 text-purple-500"
      /> English, Spanish & French
    </li>
  </ul>
</GenericCard>
