---
import GenericCard from "../ui/GenericCard";

// Import the icons as Astro components.
// Note the capitalized names (e.g., CakeIcon), which is a convention for components.
import DetectiveIcon from "../../assets/icons/detective-svgrepo-com.svg";
---

<GenericCard>
  <div class="flex flex-row gap-4">
    <DetectiveIcon
      arial-label="Detective Icon"
      class="w-7 h-7 text-purple-500"
    />
    <h3 class="text-2xl">About Me</h3>
  </div>
  <div class="flex flex-col gap-8">
    <div>
      Hello there! Lucky for you to have stumbled upon this small chamber of
      personal secrets. I'm Kevin Arriaga, and I'll be your host for today. If
      you have to know my credentials, here's a quick preview. I'm a 26 years
      old full-stack web developer born and raised in Venezuela; however, fate
      (my own brain) decided my future lies in the beautiful country of freedom
      and capitalism (also knows as the USA).
    </div>
    <div>
      Here, you're more than welcome to browse around, albeit try not to look
      too deeply, or you might find hidden easter eggs that will have you coming
      back non-stop!
    </div>
  </div>
</GenericCard>
